---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ruoyi-network
spec:
  ingress:
    - from:
        - podSelector:
            matchLabels:
              ruoyi/smartide-network: "true"
  podSelector:
    matchLabels:
      ruoyi/smartide-network: "true"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ruoyi-dev-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      ruoyi.service: ruoyi-dev
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        ruoyi.service: ruoyi-dev
    spec:
      containers:
        - env:
            - name: LOCAL_USER_PASSWORD
              value: root123
            - name: ROOT_PASSWORD
              value: root123
          image: registry.cn-hangzhou.aliyuncs.com/smartide/smartide-java-v2-jetbrains-idea:latest
          imagePullPolicy: Always
          name: ruoyi-dev
          ports:
            - containerPort: 8080
            - containerPort: 80
            - containerPort: 22
            - containerPort: 8887
          resources: {}
status: {}
---
apiVersion: v1
kind: Service
metadata:
  name: ruoyi-dev
spec:
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
    - name: "8000"
      port: 8000
      targetPort: 80
    - name: "6800"
      port: 6800
      targetPort: 8887
    - name: "6822"
      port: 6822
      targetPort: 22
  selector:
    ruoyi.service: ruoyi-dev
status:
  loadBalancer: {}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ruoyi-db-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      ruoyi.service: ruoyi-db
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        ruoyi.service: ruoyi-db
    spec:
      containers:
        - image: registry.cn-hangzhou.aliyuncs.com/smartide/mysql:8.0.21
          imagePullPolicy: Always
          name: ruoyi-db
          ports:
            - containerPort: 3306
          resources: {}
          env:
            - name: MYSQL_USER
              value: root
            - name: MYSQL_ROOT_PASSWORD
              value: password
status: {}
---
apiVersion: v1
kind: Service
metadata:
  name: ruoyi-db
spec:
  ports:
    - name: "3306"
      port: 3306
      targetPort: 3306
  selector:
    ruoyi.service: ruoyi-db
status:
  loadBalancer: {}