---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: ruoyi-cloud-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      ruoyi-cloud.service: ruoyi-cloud
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        ruoyi-cloud.service: ruoyi-cloud
    spec:
      containers:
        - env:
            - name: LOCAL_USER_PASSWORD
              value: root123
            - name: ROOT_PASSWORD
              value: root123
          image: registry.cn-hangzhou.aliyuncs.com/smartide/smartide-node-v2-vscode:all-version
          imagePullPolicy: Always
          name: ruoyi-cloud-dev
          # command: ["/bin/bash", "-ce", "tail -f /dev/null"]
          ports:
            - containerPort: 3001
          resources: {}
status: {}

---

apiVersion: v1
kind: Service
metadata:
  name: ruoyi-cloud-service
spec:
  ports:
    - name: "3001"
      port: 3001
      targetPort: 3001
    - name: "6800"
      port: 6800
      targetPort: 3000
    - name: "6822"
      port: 6822
      targetPort: 22
  selector:
    ruoyi-cloud.service: ruoyi-cloud
status:
  loadBalancer: {}

---

apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ruoyi-cloud-network
spec:
  ingress:
    - from:
        - podSelector:
            matchLabels:
              ruoyi-cloud/smartide-network: "true"
  podSelector:
    matchLabels:
      ruoyi-cloud/smartide-network: "true"